/* =====================================   Normalize CSS   ===================================== */



/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/*Responsive design*/

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* =====================================   Normalize CSS End  ===================================== */



/* Generic
   ========================================================================== */
 :root {  
  --olive: #A3BCB6;
  --greenLeaf: #39603D;
  --brownGrey: #3C403D;
  --tanly: #DADED4;
  --white: #FFFFFF;
  --boxShadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
  --boxBorder: 5px solid var(--greenLeaf);
  --boxBorderWhite: 5px solid var(--white);
  --maxWidthText: 1024px;
  --maxWidthBox: 800px;
}

html h1, html h2, html h3, html h4, html h5,{ 
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
  color: var(--brownGrey);
 }

html h1 {
	font-size: 52px;
}

.h2Heading {  
	border: var(--boxBorder);
	padding: 1em;
}

html p, html li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
  font-weight: 400;
  line-height: 1.5em;
  color: var(--brownGrey);
  list-style: none;
}

html ul { 
	padding: 0px;
 }


/* Footer
   ========================================================================== */
.footer {  
	background-color: var(--olive);
	width: 100%;
	padding: 20vh 20vw 5vh 20vw;
	margin-top: 40vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
} 
.footer p { 
	color: var(--white);
}

.socialFooter {  
  display: flex;
  justify-content: space-between;
  width: 30vw;
  align-items: center;
  padding: 1em;
}


/* Icons & Buttons
   ========================================================================== */

.iconPassive {
  width: 60px;
  height: 60px;
  filter: invert(31%) sepia(8%) saturate(2294%) hue-rotate(75deg) brightness(99%) contrast(88%); /* Color Green Leaf */
  padding: 0.5em;
  margin-top: 5vh;
}

.iconFoot {
  width: 40px;
  height: 40px;
  border: 3px solid var(--brownGrey);
  filter: invert(22%) sepia(11%) saturate(239%) hue-rotate(83deg) brightness(96%) contrast(88%);
  transition-property: color, border-color, background-color;
  transition-timing-function: ease-in;
  transition: 0.2s;
  padding:0.5em
}

.iconFoot:hover {
  box-shadow: 2px 2px 13px 1px #3C403D;
}

.button {
	padding: 1em;
	color: white;
	text-decoration: none;
}


/* Navigation
   ========================================================================== */

.navBar { 
	display: flex;
	justify-content: space-between;
	padding: 5vh 5vw;
	align-items: center;
 }

.navBarRight { 
	display: flex;
}

.navBarRight h4 { 
	margin-right: 20px;
	cursor: pointer;
}

.navBarRight a { 
	text-decoration: none;
	color: var(--brownGrey);  	
}

.navBarRight a:visited { 
	color: var(--brownGrey); 	
}

.navBarRight h4:hover { 
	text-decoration: 5px underline var(--greenLeaf);
}

.logo {  
	border: var(--boxBorder);
	padding: 1em;
}


/* Containers & Boxes
   ========================================================================== */

/**
 * Box Container Alternating Large
 */

.boxContainerLeft {  
	background-color: var(--tanly);
	padding: 15vh 10vw;
	margin: 10vh 20vw 10vh 10vw;
	transition: .2s box-shadow;
	position: relative;
}

.boxContainerRight {  
	background-color: var(--brownGrey);
	padding: 15vh 10vw;
	margin: -20vh 10vw 10vh 20vw;
	transition: .2s box-shadow;
	position: relative;
}

.boxContainerRight p, .boxContainerRight h2 { 
	color: var(--white);
 }

.boxContainerLeft:hover, .boxContainerRight:hover {  
	box-shadow: var(--boxShadow);
	transition: .2s box-shadow;
	z-index: 1;
} 

/**
 * Box Container Alternating Small
 */

.boxContainerLeftSmall {  
	background-color: var(--tanly);
	padding: 5vh 5vw;
	margin: 10vh 48vw 10vh 12vw;
	display: Flex;
	flex-direction: column;
	transform: rotate(-15deg);
	transition: .2s box-shadow;
	position: relative;
}

.boxContainerRightSmall {  
	background-color: var(--brownGrey);
	padding: 5vh 5vw;
	margin: -50vh 12vw 10vh 48vw;
	transform: rotate(15deg);	
	transition: .2s box-shadow;
	position: relative;
}

.boxContainerRightSmall:hover, .boxContainerLeftSmall:hover {  
	box-shadow: var(--boxShadow);
	transition: .2s box-shadow;
	z-index: 1;
}
.boxContainerRightSmall ul, .boxContainerLeftSmall ul {
	padding-left: 20px;
	margin: 0px;
} 

.boxContainerRightSmall ul li, .boxContainerLeftSmall ul li {
	list-style: square;
} 

.boxContainerRightSmall p, .boxContainerRightSmall h2, .boxContainerRightSmall li { 
	color: var(--white);
 }

.alternatingImg {  
	object-fit: contain;
	width: 35vw;
}

#lastBox {  
	margin: -15vh 30vw 10vh 30vw;
	transform: rotate(-5deg);
}


/**
 * Box Container Overlapping
 */

.boxOverlapping {  
	background-color: var(--brownGrey);
	margin: 20vh 20vw -50vh 20vw;
	padding: 5vh;
	display: flex;
	justify-content: space-between;
	text-align: center;
	position: relative;
	z-index: 5;
	box-shadow: var(--boxShadow);
}

.boxOverlapping p, .boxOverlapping h3 {
	color: var(--white);
	margin: 0px;
	padding: 1em;
	align-self: center;
}  

.boxOverlapping a h3 {  
	border: var(--boxBorderWhite);
	transition: background-color 0.2s;
}

#connectButton:hover {  
	background-color: var(--white);
	color: var(--brownGrey);
	transition: background-color 0.2s;
}


/**
 * Splash Container
 */

.splashContainer {  
	background-color: var(--olive);
	width: 100%;
	padding: 10vh;
	margin: 12vh 0vw 12vh 0vw;
	text-align: center;
} 

.splashContainer h2 {  
	color: var(--white);
} 

/**
 * Standard Container
 */

.standardContainer {  
	margin-top: 15vh;
	display: flex;
	text-align: center;
	justify-content: center;
}

/* Grids
   ========================================================================== */

/**
 * Triple Column Grid
 */

 .tripleColumnGrid {
 	display: Grid;
 	grid-template-columns: repeat(3, 1fr);
 	padding: 5vh 20vw;
 	grid-gap: 5px;
 }

 .gridInnerWrapper {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
  	padding: 2vh 2vw;
 	text-align: center;
 	background-color: var(--tanly);
 }

/**
 * Double Column Grid
 */

 .doubleColumnGrid {
 	display: Grid;
 	grid-template-columns: repeat(2, 1fr);
 	grid-gap: 5px;
 }



/* Media queries
   ========================================================================== */

@media screen and (max-width:1200px) {

	.boxContainerLeftSmall {  
		padding: 5vh 5vw;
		margin: 10vh 48vw 10vh 10vw;
		transform: rotate(-15deg);
	}

	.boxContainerRightSmall {  
		padding: 5vh 5vw;
		margin: -50vh 8vw 10vh 44vw;
		transform: rotate(15deg);	
	}
	#lastBox {  
		margin: -15vh 28vw 10vh 28vw;
		transform: rotate(-5deg);
	}
	 
	.boxOverlapping {  
		margin: 20vh 10vw -50vh 10vw;
	}
	.tripleColumnGrid { 
		padding: 5vh 10vw;
	}
 
}


@media screen and (max-width:1024px) {
 
 .tripleColumnGrid {  
 	padding: 5vh 10px;
 }

	.boxContainerLeftSmall {  
		padding: 5vh 5vw;
		margin: 10vh 20vw 10vh 20vw;
		transform: rotate(0deg);
	}

	.boxContainerRightSmall {  
		padding: 5vh 5vw;
		margin: 10vh 20vw 10vh 20vw;
		transform: rotate(0deg);	
	}
	#lastBox {  
		margin: 10vh 30vw 10vh 30vw;
		transform: rotate(0deg);
	}
	 
	.boxOverlapping {  
		margin: 20vh 10vw -50vh 10vw;
	}
}

@media screen and (max-width:960px) {
 
	.boxContainerLeft {  
		padding: 15vh 10vw;
		margin: 10vh 10vw;
	}

	.boxContainerRight {  
		padding: 15vh 10vw;
		margin: 0vh 10vw;
	}

	.boxContainerLeftSmall {  
		padding: 5vh 5vw;
		margin: 10vh 10vw;
	}

	.boxContainerRightSmall {  
		padding: 5vh 5vw;
		margin: 10vh 10vw;

	}
	#lastBox {  
		margin: 10vh 10vw;
	}
	.boxOverlapping {  
			margin: 20vh 0vw -50vh 0vw;
	}

}

@media screen and (max-width:660px) {
  .boxContainerLeft {  
		padding: 5vh 5vw;
		margin: 5vh 0vw;
	}

	.boxContainerRight {  
		padding: 5vh 5vw;
		margin: 0vh 0vw;
	}

	.boxContainerLeftSmall {  
		padding: 5vh 5vw;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.boxContainerLeftSmall ul li, .boxContainerRightSmall ul li {
		list-style: none;
	}  

	.boxContainerRightSmall {  
		padding: 5vh 5vw;
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	#lastBox {  
		margin: 0px;
		padding: 5vh 5vw;
		margin-bottom: 10vh;
	}
	
	.boxOverlapping {  
			margin: 20vh 0vw -50vh 0vw;
	}
	
	#Multi2 { 
		display: none;
	 }
	
	.doubleColumnGrid { 
		display: flex;
		flex-direction: column;
		align-items: center;
	 } 
	
	.tripleColumnGrid {
 		grid-template-columns: 1fr;
 		padding: 5vh 5vw;
 	}
	
	.socialFooter {  
		width: 80vw;
	}

}











